// fonts
$fontMain: "Roboto", sans-serif;

// colors
$blueMain: rgb(28, 151, 245);
$blueSecondary: rgba(28, 151, 245, 0.8);
$inputBorder: rgba(78, 78, 78, 0.3);
$placeholderText: rgb(194, 194, 194);
$error: rgb(229, 83, 83);

// Device sizes
$mobile: 500px;
$tablet: 768px;
$desktop: 1024px;