.home {

  .form {

    label {
      position: relative;
      z-index: 1;
    
      input {
        width: 100%;
        height: 35px;
        max-width: 350px;
        border-radius: 3px;
        border: 1px solid rgb(206, 206, 206);
        margin-bottom: 1rem;
        padding: 0;
        box-sizing: border-box;
        padding-left: 10px;
        -webkit-box-shadow: inset 0px 2px 3px -2px $inputBorder;
        -moz-box-shadow: inset 0px 2px 3px -2px $inputBorder;
        box-shadow: inset 0px 2px 3px -2px $inputBorder;

        & ~ .border {
          position: absolute;
          bottom: -9.5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $blueMain;
          z-index: 2;
        }

        &:focus ~ .border {
          width: 100%;
          transition: 0.5s;
          z-index: 3;
        }

        &:focus {
          border: none;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
        }

        &::placeholder {
          color: $placeholderText;
          vertical-align: middle;
        }
      }
    }

    .btn__login {
     margin-top: 2rem;
    }
  }
}